#userCharacter { 
  position: absolute;
  left: 0%;    
  bottom: 1.5%;  
}

#visitorCharacter {
  display: none;
  position: absolute;
  left: 0%;   
  bottom: 1.5%;  
}

#computer{  
  content: "Editar";
  position: absolute;
  right: 0%;  
  bottom: 3%;   
  width: 19%;
  height: 34%;
}

#cow { 
	position: absolute;
	left: 16%;
	bottom: 3%; 
	width: 12%;
  height: 19%;

}

#bed { 
	position: absolute;
	left: 16%;
	bottom: 1%; 
	width: 12%;
  height: 14%;

}

#wardrobe { 
	position: absolute;
	left: 0.25%;
	bottom: 4%; 
	width: 10%;
  height: 39%;
}

#poster_1 {
	position: absolute;
	left: 13.5%;
	bottom: 25.5%;
	width: 5.5%;
  height: 17%;
}

#poster_2 {
	position: absolute;
	left: 10.5%;
	bottom: 12%; 
	width: 5.5%;
  height: 17%;
}

#alien_color_selector { 
  visibility: hidden; 
  background-color: white;
  position: absolute;
  width: 17.5%;
  height: 10%;
  left: 1%;
  bottom: 45%; 
}

.color_selector h6 {
  margin: auto;
  padding: 2px;
  width: 100%;
  height: 25%;
}

.color_container {  
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 75%;
}

.color_container div {
  margin: auto;
  width: 15%;
  height: 90%;
}

#alien_color_selector .color_container #op1{
  background-color: #474141;
}

#alien_color_selector .color_container #op2{
  background-color: #9e9292;
}

#alien_color_selector .color_container #op3{
  background-color: #6d8dff;
}

#alien_color_selector .color_container #op4{
  background-color: #95c020;
}

#alien_color_selector .color_container #op5{
  background-color: #ff6e37;
}