$tamanho:80vh;
body{
  font-family: 'Roboto Condensed', sans-serif;
  height: 100%;
  overflow: hidden;
  margin: 0;
}
.centralizador{
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 90vh;
  text-align: center;
}

#mundo {
  margin-top: -$tamanho;
  perspective: $tamanho*4;
  perspective-origin: 50% $tamanho/2;
}

#faces{
  position: relative;
  width: $tamanho;
  transform-style: preserve-3d;
}

.face{
  outline: 1px solid #999;
  position: absolute;
  width: $tamanho;
  height: $tamanho;
  opacity: 0.98;
  box-shadow: inset 0px 0px $tamanho/2 #555;
}

#face-tras{
  transform: translateZ(-$tamanho/2) rotateY(180deg);
  background-color: #eee;
}
#face-direita{
  transform: rotateY(-270deg) translateX($tamanho/2);
  transform-origin: top right;
  background-color: #ddd;
}
#face-esquerda {
  transform: rotateY(270deg) translateX(-$tamanho/2);
  transform-origin: center left;
  background-color: #ddd;
}
#face-cima{
  transform: rotateX(-90deg) translateY(-$tamanho/2);
  transform-origin: top center;
  background-color: #fafafa;
}
#face-baixo {
  transform: rotateX(90deg) translateY($tamanho/2);
  transform-origin: bottom center;
  background-color: #bbb;
}

@keyframes gira-esquerda {
  from { transform: rotateY(0); }
  to { transform: rotateY(-40deg); }
}

@keyframes gira-direita{
  from { transform: rotateY(0); }
  to { transform: rotateY(40deg); }
}

button{
  position: relative;
  top:1vh;
  left: 1vh;
  height: 3.5vh;
  font-size: 2vh;
  border-radius: 1vh;
}


.exibir{
  display: block;
}

.nao-exibir{
  display: none;
}


table{
  border-collapse: collapse;
  width: 40vw;
  margin-left: auto;
  margin-right: auto;
  table-layout: fixed;

td, th{
  height: 13vh;
 	text-align: center;
 	border: 2px solid #c0c0c0;
 }
}
