body{ 
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  touch-action: none;
}

main{
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#widgets{
  background-color: khaki;
  border-radius: 2vh;
  width: 13%;
  height: 60%;
  margin: 2% 1%;
  padding: 0;
}

#mundo{
  width: 68%;
  height: 86%;
  margin: 2% 1% 0% 1%;
   background-color: ghostwhite;
}

#propriedades{
  width: 13%;
  height: 40%;
  background-color: khaki;
  border-radius: 1vh;
  margin: 2% 1% 0% 1%;
  padding: 2%;
}

.widget{
  color: black;
  transition: background-color 0.3s;
  height: 10%;
  width: 40%;
  margin: 18% auto;
  background-color: white;
  border: solid 2% grey;
  display: none;
  align-items: center;
  justify-content: center;
}

.objeto{
  box-sizing: border-box;
  position:   absolute;
}

form {
  width: 98%;
  border-radius: 2vh;
  margin: auto;
  padding: 2%;
}

label {
  font-size: 2vh;
}

input {
  display: block;
  width: 100%;
  margin: 0% auto 4% auto;
  border-radius: 2vh;
  height: 2.5vh;
}

input[type="color"]{
  width: 30%;
}

footer{
  width: 100%;
}

#alterar{
  margin-top: 10px;
}

#excluir{
  background-color: black;
  color: white;
  margin-left: 10px;
  margin-top: 10px;
}

#formulario-propriedades{
  display: none;
}

.seta-direita-galeria{
  position: absolute;
  right: -20px;
  bottom: 0px;
}

.seta-esquerda-galeria{
  position: absolute;
  left: -15px;
  bottom: 0px;
}

#userCharacter { /*ok*/
  position: absolute;
  left: 0%;    
  bottom: 1.5%;  
}

#visitorCharacter { /*ok*/
  display: none;
  position: absolute;
  left: 0%;   
  bottom: 1.5%;  
}

#computer{  /*ok*/
  content: "Editar";
  position: absolute;
  right: 0%;  
  bottom: 3%;   
  width: 19%;
  height: 34%;
}

#cow { /*ok*/
	position: absolute;
	left: 16%;
	bottom: 3%; 
	width: 12%;
  height: 19%;

}

#bed { /*ok*/
	position: absolute;
	left: 16%;
	bottom: 1%; 
	width: 12%;
  height: 14%;

}

#wardrobe { /*ok*/
	position: absolute;
	left: 0.25%;
	bottom: 4%; 
	width: 10%;
  height: 39%;
}

#poster_1 {
	position: absolute;
	left: 13.5%;
	bottom: 25.5%; /*ok*/
	width: 5.5%;
  height: 17%;
}

#poster_2 {
	position: absolute;
	left: 10.5%;
	bottom: 12%; /*ok*/
	width: 5.5%;
  height: 17%;
}

.input{
  border-radius: 1vh;
  margin: 0% auto 4% auto;
  border: 1px solid gray;
  outline: none;
  background-color: white;
  overflow:scroll;
  max-height: 15vh;
  display: none;
}

.div-in{
  position: absolute;
}