#mainCharacter {
  position: absolute;
  left: 500px;
  bottom: 35px;
  width: 75px;
  height: 150px;
}

#computer {
  position: absolute;
  right: 5px;
  bottom: 15px;
  width: 275px;
  height: 200px;
}
