html body {
  background-color: khaki;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-family: "Roboto Condensed", sans-serif;
}
html body header h1 {
  font-family: "Germania One", cursive;
  font-size: 70px;
  margin: 2%;
}
html body main {
  display: flex;
}
html body main #sobre {
  flex: 1;
  border-radius: 5%;
  height: 100%;
  padding: 5%;
  background-color: white;
  font-size: 20px;
  text-align: justify;
}
html body main #logar {
  flex: 1;
}
html body main #logar form {
  background-color: cornflowerblue;
}
html body main #logar #esqueci-senha {
  display: table;
  margin: auto;
}
html body main #logar #quer-cadastrar {
  display: table;
  margin: 5% auto;
}
html body main #cadastrar {
  flex: 1;
}
html body main #cadastrar form {
  background-color: mediumseagreen;
}
html body main #cadastrar #tem-cadastro {
  display: table;
  margin: 5% auto;
}
html body footer {
  position: absolute;
  width: 80%;
  bottom: 0px;
  height: 3%;
  background-color: brown;
}

form {
  width: 60%;
  padding: 5%;
  border-radius: 5%;
  margin: auto;
}
form label {
  font-size: 20px;
}
form input {
  display: block;
  height: 25px;
  width: 100%;
  margin-bottom: 5%;
  border-radius: 5%;
}

button {
  height: 35px;
  font-size: 15px;
  border-radius: 10%;
}

.exibir {
  display: block;
}

.nao-exibir {
  display: none;
}
