html{
  height: 100%;
}

body{
  background-color: khaki;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Roboto Condensed', sans-serif;
}

header h1{
  font-family: 'Germania One', cursive;
  font-size: 70px;
  margin: 2%;
}

main{
  display: flex;
}

form label{
  font-size: 20px;
}

form input{
  display: block;
  height: 25px;
  width: 100%;
  margin-bottom: 5%;
  border-radius: 5%;
}

button{
  height: 35px;
  font-size: 15px;
  border-radius: 10%;
}

main #logar{
  flex: 1;
}

#logar form{
  width: 60%;
  padding: 5%;
  border-radius: 5%;
  background-color: cornflowerblue;
  margin: auto;
}

#logar #esqueci-senha{
  display: table;
  margin: auto;
}

#quer-cadastrar,#tem-cadastro{
  display: table;
  margin: 5% auto;
}

main #cadastrar{
  flex: 1;
}

#cadastrar form{
 width: 60%;
  padding: 5%;
  border-radius: 5%;
  background-color: mediumseagreen;
  margin: auto;
}

main #sobre{
  flex: 1;
  border-radius: 5%;
  height: 100%;
  padding: 5%;
  background-color: white;
  font-size: 20px;
  text-align: justify;
}

footer{
   position: relative;
}

footer{
  position: absolute;
  width:80%;
  bottom: 0px;
  height: 3%;
  background-color: brown;
}

.exibir{
  display: block;
}

.nao-exibir{
  display: none;
}
