html{
  margin: 0;
  height: 100%;
  overflow: hidden
}

body{
  background-color: khaki;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

header h1{
  font-family: 'Germania One', cursive;
  font-size: 50px;
  margin: 25px;
}

main{
  display: flex;
}

#logar{
  flex: 1;
}

#sobre{
  flex: 1;
  border-radius: 10px;
  margin: 50px;
  padding: 25px;
  background-color: white;

}

#sobre p{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  text-align: justify;
}

form{
  width: 260px;
  padding: 30px;
  border-radius: 10px;
  background-color: cornflowerblue;
  margin: auto;
}

form label{
  font-family: 'Lilita One', cursive;
  font-size: 25px;
}

form input{
  display: block;
  height: 25px;
  width: 250px;
  margin-bottom: 20px;
  border-radius: 5px;
}

form button{
   height: 35px;
   margin-top: 10px;
   font-family: 'Roboto Condensed', sans-serif;
   font-size: 15px;
   border-radius: 10px;
}

#cadastrar{
  width: 300px;
  margin: 10px auto;
  font-family: 'Roboto Condensed', sans-serif;
}

#cadastrar button{
   height: 35px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 15px;
  border-radius: 10px;
}

footer #chao{
  width: inherit;
  height: 20px;
  margin-top: 200px;
  background-color: brown;
}
