.cube {
  width: 800px;
  height: 800px;
  perspective: 400px;
  position: relative;
  overflow: hidden;
  margin: auto;
  
}

.cube-face {
  width: inherit;
  height: inherit;
  position: absolute;
  opacity: 0.5;
}

.cube-face-back {
  transform: rotateY(180deg) translate3d(0, 0, 400px);
  background: red;
}

.cube-face-left {
  transform: rotateY(-90deg) translate3d(0, 0, 400px);
  background: yellow;
}

.cube-face-right {
  transform: rotateY(90deg) translate3d(0, 0, 400px);
  background: blue;
}

.cube-face-top {
  transform: rotateX(90deg) translate3d(0, 0, 400px);
  background: green;
}

.cube-face-bottom {
  transform: rotateX(-90deg) translate3d(0, 0, 400px);
  background: pink;
}